.analysis {
  display: grid;
  border: 1px solid black;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.1fr 1fr;
  gap: 1px 2px;
  grid-template-areas:
    "crop total"
    "crop total";
  width: 100%;
  .crop {
    grid-area: crop;
  }
  .total {
    grid-area: total;
  }
}
