:root {
  --green: #6f6a37;
  --red: #6f373c;
  --main_color: hsl(25, 34%, 33%);
  --white: #ffffff;
  --font: "Yanone Kaffeesatz", sans-serif;
  --font-second: "Aladin", cursive;
  --primary-color: #a68966d6;
  --secondary-color: #62422b;
  --add-color: #a0450e;
  --sidebar-color-header: #acb5a7;
  --sidebar: #6c3428;
  --main-color: #dfa878;
  --add-color-1: #6c3428;
  /* font size */
  --biggest-font: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smalest-font-size: 0.75rem;
}

.sidebar {
  border-radius: 8px;
  background: var(--sidebar);
  box-shadow: 1px 0px 4px var(--green);
  width: 18%;
  height: 100%;
  gap: 3rem;
  padding: 0.2em;
  overflow: auto;
}
.sidebar .logoDiv {
  padding-left: 1.5rem 1.5rem;
  cursor: pointer;
}
.sidebar .logoDiv img {
  max-width: 54px;
  margin-right: 0.5rem;
  border-radius: 50%;
  padding: 0.2rem;
}
.sidebar .logoDiv .divTitle {
  font-style: var(--h2-font-size);
  color: var(--sidebar-color-header);
}
.sidebar .menuDiv {
  font-size: var(--h3-font-size);
  color: var(--sidebar-color-header);
  padding: 0 1.5rem 1.5rem;
}
.sidebar .menuDiv h2 {
  padding: 0.5em 0.5em 0.5em 0px;
}
.sidebar .menuDiv .menuList .listitems {
  padding: 0.2rem 1.5rem;
  width: 100%;
  position: relative;
}
.sidebar .menuDiv .menuList .listitems::before {
  position: absolute;
  content: "";
  height: 0;
  left: 0;
  width: 5px;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--sidebar-color-header);
}
.sidebar .menuDiv .menuList .listitems .menuLink {
  color: var(--white);
  font-weight: 500;
  transition: 0;
}
.sidebar .menuDiv .menuList .listitems .menuLink .icon {
  margin-right: 0.5rem;
}
.sidebar .menuDiv .menuList .listitems:hover .menuLink,
.sidebar .menuDiv .menuList .listitems .active {
  color: var(--sidebar-color-header);
  transition: 0;
}
.sidebar .menuDiv .menuList .listitems:hover::before,
.sidebar .menuDiv .menuList .listitems .active {
  height: 100%;
  transition: 0.35s ease-in;
}
.sidebar .sidebarCard {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.sidebar .sidebarCard .icon {
  position: absolute;
  background-color: var(--green);
  border: 5px solid var(--green);
  font-size: 3rem;
  color: var(--white);
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  z-index: 1000;
}
.sidebar .sidebarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
}
.sidebar .sidebarCard .cardContent h3 {
  font-size: var(--h3-font-size);
  margin-top: 1rem;
  padding: 0.4rem 0;
  font-weight: 800;
  color: var(--white);
}
.sidebar .sidebarCard .cardContent p {
  font-size: var(--normal-font-size);
  color: var(--green);
  padding-bottom: 0.4em;
  font-weight: 500;
}
.sidebar .sidebarCard .cardContent .circle1,
.sidebar .sidebarCard .cardContent .circle2 {
  position: absolute;
  background: var(--add-color);
  border-radius: 50%;
  opacity: 0.7;
}
.sidebar .sidebarCard .cardContent .circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
} /*# sourceMappingURL=sidebar.css.map */
a {
  text-decoration: none;
  color: var(--add-color-1);
}
a:hover {
  color: var(--white);
}
