:root {
  --green: #6f6a37;
  --red: #6f373c;
  --main_color: hsl(25, 34%, 33%);
  --white: #ffffff;
  --black: #000000;
  --hover_effect: #4c3e2e;
  --font: "Yanone Kaffeesatz", sans-serif;
}
.sideBar {
  position: absolute;
  top: 30%;
  left: 0px;
  padding: 0.2em;
}
.overall {
  padding: 0.5em;
  list-style: none;
  background: var(--white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.overall li a .active {
  background-color: var(--green);
}
.overall li {
  padding: 0.5em;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.overall li:hover {
  background-color: var(--hover_effect);
  transform: scale(1.2, 1.2);
  transition: all ease-in-out 0.5s;
}

.overall li a {
  background-color: transparent;
}
