@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;600&display=swap");

:root {
  --green: #6f6a37;
  --red: #6f373c;
  --main_color: hsl(25, 34%, 33%);
  --white: #ffffff;
  --font:"Yanone Kaffeesatz", sans-serif
}
.main{
  display: flex;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
  color: var(--white);
  font-family: var(--font);
}
.DashTitle {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.logo {
  padding: 0.5em;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
.title {
  padding: 0.5em;
  position: absolute;
  left: 50%;
}
